h1{
    color: blue;
    background: red;

}
style{
    text-decoration: none;\
     text-underline-position: none;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}

a:hover {
    color: aqua;
}

a:active {
    color: brown;
}