a[target]{
    color: red;
}
input:checked{
    outline: 1px solid red;
}

div:nth-of-type(2){
        color: red;
}

 /* input:checked ~ div {
    display: none;
 } */

 .togglebox:not(:checked) + div{
     opacity: 0;
 }
 